<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}

{% block title_block %}
    Log in
{% endblock %}

{% block content_block %}
{% if user.is_authenticated %}
<br/><br/><br/>
    <h4>You are already logged in.</h4>
<br/><br/><br/>
{% else %}

    <h2>Log In</h2>
    <form method="post" action="."> 
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Log In"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    <div>
        Not Registered Yet?
        <a href="{% url 'registration_register' %}">Register</a>
    </div>
{% endif %}
{% endblock %}