<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}

{% block title_block %}
    Change Password
{% endblock %}


{% block content_block %}
<div class="container_green"><br/>
    <div class="row">
        <h2>Change Password</h2>
        <form role="form" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-success">
                Change Password
            </button> <br /><br/><br/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
</div>


<!-- <h1>Change Password</h1>

<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Change password" />
</form> -->

{% endblock %}