<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
Find Buddy
{% endblock %}

{% block content_block %}

<container>
    <div class="row">
        <div class="card card-body text-center">
            <form method="get">
                {{ myFilter.form.as_p }}
                <button class="btn btn-outline-success" type="submit">
                    Search for Buddy
                </button>
            </form> 
            <br /><br />
        </div>
    </div>
</container>

<div class="card">
    {% if trips %}
    <br/>
        <center><h4>Results</h4></center>
        {% for trip in trips %}
            <h5 class="card-header text-center"><strong><a href="{% url 'globe_app:profile' trip.owner %}">{{ trip.owner }}</a></strong></h5>
            <div class="card-body text-center">
                <ul style="list-style-type: none;">
                    <p class="card-text">
                        <li><a href="{% url 'globe_app:create_or_find_message_thread' user trip.owner %}">Message {{ trip.owner }}</a></li>
                        <li>Going to: {{ trip.destination }}</li>
                        <li>From: {{ trip.dateStart }}</li>
                        <li>To: {{ trip.dateEnd }}</li>
                        <li>Budget from: £{{ trip.budgetStart }}</li>
                        <li>Budget to: £{{ trip.budgetEnd }}</li><br /><br />
                        <li>{{ trip.owner.age }}</li>
                    </p>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        There are currently no trips planned
    {% endif %}
</div>


<script>
    $("#id_dateStart").datepicker({ dateFormat: 'yy-mm-dd' });
    $("#id_dateEnd").datepicker({ dateFormat: 'yy-mm-dd' });
</script>

{% endblock %}