{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    Inbox 
{% endblock %}

{% block content_block %}

<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <h3>
                Messages
            </h3>
        </div>
    </div>


    {% for threadObject in threadList %}
        <div class="row mb-3">
            <div class="card col-md-12 p-5 shadow-sm">
                <h5>
                    {{ threadObject.thread.user }} - {{ threadObject.thread.receiver }} (Unread Messages: {{ threadObject.messages.unreadMessages }})
                </h5>
                <!-- haven't created thread link yet -->
                <a class="stretched-link" href="{% url 'globe_app:thread' threadObject.thread.pk %}"></a>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}