<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
Homepage
{% endblock %}

{% block content_block %}

<div>
    <img src="{% static 'images/test.jpg' %}" alt="Test Image" />
</div>
{% if user.is_authenticated %}

{% endif %}
{% endblock %}

{% block white_content_block %}
<div>
    <img src="{% static 'images/test.jpg' %}" alt="Test Image" />
</div>
{% endblock %}

{% block third_content_block %}
<div>
    <img src="{% static 'images/test.jpg' %}" alt="Test Image" />
</div>

{% endblock %}