<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    My Trips
{% endblock %}

{% block content_block %}
    <h4>{{ user.username }}'s Trips</h4> <br/><br/>

    <a href="{% url 'globe_app:upcoming_travels' user.username %}">Upcoming Travels</a>
    <hr/>
    <a href="{% url 'globe_app:travel_history' user.username %}">Travel History</a>
    <hr/>
    <a href="{% url 'globe_app:travel_wishlist' user.username %}">Travel Wishlist</a>
    <hr/>

{% endblock %}