<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    Travel Wishlist
{% endblock %}

{% block content_block %}
    <h2>Travel Wishlist</h2> <br/>

    <strong><a class="nav-link active"  href="{% url 'globe_app:add_wishlist' %}">Add location to Travel Wishlist</a></strong>

    <!-- Mapbox API (Mapbox.com) -->
    <div id="map"></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidmFsYm9yZ2pvaGFubmVzZW4iLCJhIjoiY2w1czlxdTg1MDJqMjNpbXIzMmE3Z2ZpMSJ9.KhJK2veJjqe6FZ4YtnKkSw';
        var savedMap = new mapboxgl.Map({
            container: 'map',
            // projection: 'globe',
            style: 'mapbox://styles/mapbox/streets-v11',
            projection: 'naturalEarth',
            zoom: 0.75
        });


    function getWishlistLocations() {
        let csrfToken = document.cookie.split('=')[1]; // grab the csrf token from the cookies
        // ajax request to send the coordinates to the backend
        $.ajax({
            type: "GET",
            url: "{% url 'globe_app:get_user_saved_wishlist_locations' user %}",
            headers: { 'X-CSRFToken': csrfToken },
            // success and error are callbacks. They notify when the request is done.
            success: function (response) {
                console.log(response);
                response.locationWishlistList.forEach(element => {
                    new mapboxgl.Marker({ color: 'blue' })
                        .setLngLat([element[0], element[1]])
                        .addTo(savedMap)
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('failed');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
        }

        document.addEventListener("load", getWishlistLocations());
    </script>

{% endblock %}


{% block white_content_block %}

<div class="card">
    {% for trip in wishlistList %}
        <h5 class="card-header"><strong>{{ trip.destination }}</strong></h5>
        <div class="card-body">
            <p class="card-text">
                <li>Travel Notes: {{ trip.travelNotes }}</li>
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}