<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}



{% block title_block %}
Upcoming Travels
{% endblock %}

{% block content_block %}

<!-- Mapbox API (Mapbox.com) -->

<div class="container_green">
    <br/><h2>Upcoming Trips</h2><br/>
    <a class="btn btn-success" role="button" href="{% url 'globe_app:add_upcoming_travel' %}">Add New Trip</a>
    <div id="map"></div>
</div>


<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidmFsYm9yZ2pvaGFubmVzZW4iLCJhIjoiY2w1czlxdTg1MDJqMjNpbXIzMmE3Z2ZpMSJ9.KhJK2veJjqe6FZ4YtnKkSw';
    var savedMap = new mapboxgl.Map({
        container: 'map',
        // projection: 'globe',
        style: 'mapbox://styles/mapbox/streets-v11',
        projection: 'naturalEarth',
        zoom: 0.75
    });

    function getLocations() {

        let csrfToken = document.cookie.split('=')[1]; // grab the csrf token from the cookies
        // ajax request to send the coordinates to the backend
        $.ajax({
            type: "GET",
            url: "{% url 'globe_app:get_user_saved_locations' user %}",
            headers: { 'X-CSRFToken': csrfToken },
            // success and error are callbacks. They notify when the request is done.
            success: function (response) {
                console.log(response);
                response.locationList.forEach(element => {
                    new mapboxgl.Marker({ color: '#8fd5a6' })
                        .setLngLat([element[0], element[1]])
                        .addTo(savedMap)
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('failed');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }

    document.addEventListener("load", getLocations());

</script>

{% endblock %}

{% block white_content_block %}
<br/><br/>
<center><h2>{{ user }}'s Upcoming Trips</h2></center>
<br/>
<div class="row mb-3 justify-content-center">
    <div class="card col-6 text-center p-3 shadow-sm">
        {% for trip in upcomingList %}
            <h5 class="card-header text-center"><strong>{{ trip.destination }}</strong></h5>
            <div class="card-body text-center">
                <!-- <h5 class="card-title">{{ trip.destination }}</h5> -->
                <ul style="list-style-type: none;">
                    <p class="card-text">
                        <li>Trip starts: <strong>{{ trip.dateStart }}</strong></li>
                        <li>Trip ends: <strong>{{ trip.dateEnd }}</strong></li>
                        <li>Budget lower range: <strong>£{{ trip.budgetStart }}</strong></li>
                        <li>Budget higher range: <strong>£{{ trip.budgetEnd }}</strong></li>
                        <li>Notes: {{ trip.travelNotes }}</li>
                        <!-- <li>Date flexibility: <strong>{{ trip.dateFlexibility }}</strong></li> -->
                    </p>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}