{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
{{ user_profile.first_name }}'s Profile
{% endblock %}

{% block general_content_block %}
<div class="profile_image">
    {% if user_profile.picture %}
    <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" alt="{{ user.username }}'s profile picture " /><br />
    {% endif %}
    <ul class="profile_content" style="list-style-type: none;">
        <li>
            <h1>{{ user_profile.first_name }} {{user_profile.middle_name }} {{ user_profile.surname }}</h1>
        </li>
        <li>Age: {{ user_profile.age }}</li>
        <li>Description: {{ user_profile.description }}</li>
    </ul>
</div>

{% endblock %}

{% block white_content_block %}


{% endblock %}