<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    Post: {{ post.title }}
{% endblock %}

{% block content_block %}
{% if user.is_authenticated %}
    <div class="container_green"><br/>
        <div class="row">
            <form role="form" method="post" action="{% url 'forum_app:add_reply' post_id %}">
                {{ form.as_p }}
                {% csrf_token %}

                <button class="btn btn-success">
                    Submit comment
                </button> <br />
            </form>
        </div>
        <br/><br/><br/>     
    </div>
{% endif %}

{% endblock %}