<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    Globetrotter Add Post
{% endblock %}

{% block content_block %}
{% if user.is_authenticated %}
    <div class="container_green">
        <br/>
        <div class="row">
            <form role="form" id="post_form" method="post"
            action="{% url 'forum_app:add_post' %}">
                {{form.as_p}}
                {% csrf_token %}

                <button class="btn btn-success">
                    Add Post
                </button> 
            </form> 
        </div><br/>
    </div>
{% endif %}
{% endblock %}