<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    Globetrotter Forum
{% endblock %}

{% block content_block %}
<a href="{% url 'forum_app:add_post' %}">Add new post</a> <br /><br />
<br />

<h4>Current posts: </h4>
    {% if post_list %}
        {% for post in post_list %}
            <li class="list-group-item">
                <a href="/forum/{{ post.id }}">
                    <div>
                        {{ post.title }} 
                    </div>
                </a>
            </li>
            <ul style="list-style-type: none;"><li>{{ post.owner }}</li>{{ post.timestamp}} </ul>
        {% endfor %}
    {% endif %}



{% endblock %}