<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    Post: {{ post.title }}
{% endblock %}

{% block content_block %}
    <h4>{{ post.title }}</h4> <br/>
    <h5>Posted by <a href="{% url 'globe_app:profile' post.writer %}">{{ post.writer }}</a></h5>
    <strong>{{ post.timestamp }}</strong>
    <br /><br />

    <h6>{{ post.content }}</h6> <br />
    <br />

    <a href="{% url 'forum_app:add_reply' post.id %}">Reply to post</a>
    <br/> <br/> 
    <h4>Replies</h4>
    {% if post_replies %}
        {% for reply in post_replies %}
            <strong><a href="{% url 'globe_app:profile' reply.reply_writer %}">{{ reply.reply_writer }}</a>,
            {{ reply.timestamp }}<br/> <br/> </strong>
            {{ reply.content }} <br/> <br/> <br/> 
        {% endfor %}
    {% endif %}
    <br />

    <a href="{% url 'forum_app:forum' %}">Back to Forum</a>
<br />

{% endblock %}