<!DOCTYPE html>
{% extends 'globe_templates/base.html' %}
{% load static %}


{% block title_block %}
    Post: {{ post.title }}
{% endblock %}

{% block content_block %}





<div class="container_green_standard"><br/>
    <div class="row mb-3 justify-content-center">
        <div class="card col-10 text-center p-3 shadow-sm ">
            <h4 class="card-header text-center col-12 text-center">
                {{ post.title }}<br/></h4>
                <div class="card text-center col-12 p-1 shadow-sm">
                <p class="card-text">
                    <h5>{{ post.content|linebreaks }}</h5>
                </p>
                <div style="display:flex;">
                    <div style="text-align: left;" class="col-sm-6">
                        <a style="color: #212529;" href="{% url 'globe_app:profile' post.writer %}">{{ post.writer }}</a>
                    </div>
                    <div style="text-align: right;color:grey;" class="col-sm-6">{{ post.timestamp }}</div>
                </div>
            </div>
        </div>
    </div> 
    <a href="{% url 'forum_app:add_reply' post.id %}" class="btn btn-success" 
        role="button" aria-pressed="true">Add Comment</a> <br/><br/>


    <center><strong>Comments</strong></center>
    <div class="row mb-3 justify-content-center">
        <div class="card col-6 text-center p-3 shadow-sm ">
        {% if post_replies %}
            {% for reply in post_replies %}
            <div class="card">
                    <p class="card-text">
                        {{ reply.content }} <br/> <br/> 
                    </p>
                    
                <div style="display:flex;padding: 0 5px;">
                    <div style="text-align: left;" class="col-sm-6">
                        <a style="color: #212529;" href="{% url 'globe_app:profile' post.writer %}">{{ reply.reply_writer }}</a>
                    </div>
                    <div style="text-align: right;color:grey;" class="col-sm-6">{{ reply.timestamp }}</div>
                </div> 
            </div><br/>
            {% endfor %}
        {% else %}
            There are no comments for this post.
        {% endif %}
        </div>
    </div>
    <a href="{% url 'forum_app:forum' %}" class="btn btn-success" role="button">
        Back to Forum</a><br />
        <br /><br />
</div>

{% endblock %}